<!DOCTYPE html>
<head>
  <%- include('../template/head') %>
</head>
<html>
  <%- include('../template/navbar') %>

  <main>
    <form class="form__user" method="POST" action="/login">
      <div class="form__user__title">登入</div>
      <% if (errorMessage && errorMessage.length > 0) { %>
        <div class="form__remind"><%= errorMessage %></div>
      <% } %>
      <div>帳號：<input class="input__user" name="username" type="text"></div>
      <div>密碼：<input class="input__user" name="password" type="password"></div>
      <input class="form__user__submit-btn" type="submit">
    </form>
  </main>


  <%- include('../template/footer') %>
</html>