<!DOCTYPE html>

<head>
  <%- include('../template/head') %>
</head>
<html>
<%- include('../template/navbar') %>
  <main>
    <div class="articleList__wrapper">
      <div class="title">關於我</div>
      <div class="about__wrapper">
        <div class="block"></div>
        <p class="about__me">往前向理想邁進時<br>也別忘了回頭看看走過的那些路</p>
      </div>
    </div>
  </main>
  <%- include('../template/footer') %>

</html>