<meta charset="utf-8">
<title>Aidan's Blog</title>
<link rel="stylesheet" href="/style/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&display=swap" rel="stylesheet">